In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df_movies = pd.DataFrame(pd.read_csv("..\Pandas\Dataset\Popular Movies Datasets\movies.csv"))
print(df_movies.columns)
print(df_movies.info())

Index(['movieId', 'title', 'genres'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB
None

In [6]:
df_tags = pd.DataFrame(pd.read_csv("../Pandas/Dataset/Popular Movies Datasets/tags.csv"))
print(df_tags.columns)
print(df_tags.info())

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108997 entries, 0 to 1108996
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1108997 non-null  int64
 1   movieId    1108997 non-null  int64
 2   tag        1108981 non-null  object
 3   timestamp  1108997 non-null  int64
dtypes: int64(3), object(1)
memory usage: 33.8+ MB
None

In [56]:
c_tag = df_tags.drop(columns=["userId","timestamp"])
c_tag["tag"] = c_tag["tag"].astype("str")
c_tag["tag"] = c_tag.groupby(["movieId"])["tag"].transform(lambda x: ", ".join(x))
c_tag = c_tag.drop_duplicates()
c_tag

         movieId                                                tag
0            110  epic, Medieval, overrated, Oscar (Best Picture...
2            260  sci-fi, space action, classic sci-fi, Harrison...
4            318  imdb top 250, justice, story line, hope, inspi...
6            480  Dinosaurs, dinosaurs, action, thriller, dinosa...
7            593  psychothriller, brilliant, exploratory, ligne ...
...          ...                                                ...
1102474   157365          1001 nights tales, djinn, soviet classics
1102484   164445  betrayal, Norway, oil and gas, resistance, Rus...
1102490   164447  investigation, polish, robots, Soviet, space, ...
1102501   164453                     20s, engineer, soviet classics
1108531    91960   Amazingly Bad, Effeminate Tree, Riff Trax Fodder

[45981 rows x 2 columns]

In [7]:
df_ratings = pd.DataFrame(pd.read_csv("../Pandas/Dataset/Popular Movies Datasets/ratings.csv"))
print(df_ratings.columns)
print(df_ratings.info())

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB
None

In [8]:
df_links = pd.DataFrame(pd.read_csv("..\Pandas\Dataset\Popular Movies Datasets\links.csv"))
print(df_links.columns)
print(df_links.info())

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   imdbId   58098 non-null  int64
 2   tmdbId   57917 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.3 MB
None

In [9]:
#Merge and average ratings
mnc_rate = df_ratings.groupby("movieId").rating.mean().round(1).to_frame("rating").reset_index()

In [57]:
#Combine
data = pd.merge(df_movies,c_tag, on='movieId')
data = pd.merge(data,mnc_rate[['movieId', 'rating']], on='movieId')
data = pd.merge(data,df_links,on='movieId')

In [59]:
data["tmdbId"] = data["tmdbId"].fillna(0)

In [60]:
data["imdbId"] = data["imdbId"].astype("int64")
data["tmdbId"] = data["tmdbId"].astype("int64")

In [62]:
data.isnull().sum()

movieId    0
title      0
genres     0
tag        0
rating     0
imdbId     0
tmdbId     0
dtype: int64