In [ ]:
# import
import numpy as np
import pandas as pd

In [ ]:
"""
create dataframe from source
{'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
"""

In [ ]:
"""
create and display a DataFrame from a specified dictionary data which has the index labels
- display a summary of the basic information
- get the first 3 rows of a given DataFrame
- select the 'name' and 'score' columns
- select the rows where the number of attempts in the examination is greater than 2
- count the number of rows and columns
- select the rows where the score is missing
- select the rows the score is between 15 and 20
- select the rows where number of attempts in the examination is less than 2 and score greater than 15
- change the score in row 'd' to 11.5
- calculate the sum of the examination attempts by the students
- calculate the mean score for each different student
- append a new row 'k' to data frame with given values for each column: name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"
- sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order
- replace the 'qualify' column contains the values 'yes' and 'no' with True and False
- change the name 'James' to 'Suresh' in name column
- delete the 'attempts' column
-  insert a new column in existing DataFrame (any columns)
- get list from DataFrame column headers\
- rename columns
-  write a DataFrame to CSV file using tab separator
- delete DataFrame row(s) based on given column value
- select a row of series/dataframe by given integer index
- replace all the NaN values with Zero's in a column of a dataframe
- count the NaN values in one or more columns
- drop a list of rows
"""
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
"""
convert DataFrame column type from string to datetime
Sample data:
String Date:
0 3/11/2000
1 3/12/2000
2 3/13/2000
dtype: object
"""